/* .Question{
    display: flex;
    flex-direction: column;
    margin: 4%;
  }
  * {
    margin: 0;
    padding: 0;
    font-family:'Gotham Rounded';
  } */
  /* body{
    background-image: url("./bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  } */
  /* .header {
    margin: 10px;
    width: auto;
    background-color: #01a390;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    text-align: center;
  } */
  /* .color{
    background-color: #050706;
  } */
  /* .card {
    width: 400px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
  }
  .body-cards {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 40px;
  }
    .QuestionBox {
      text-align: center;
    }
    #b1,#b2{
      background-color: #55b1f3;
    border-radius: 25px;
    width: fit-content;
}
#b3 {
    background-color: black;
    color: white;
    margin: 5px auto 0px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 4px solid #01a390;
  }
.h1{
  width: 100vw;
}
#b3:hover{
    background-color: black;
    color: orange;
    border-bottom: 4px solid orange;
    transition: 4px 1s ease;
}
.card > img {
    width: 100%;
    border-radius: 10px;
    max-height: 50vh;
}
.footer {
    margin: 10px;
    width: auto;
    background-color: rgb(1, 163, 144);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}
  
  .correct {
    box-shadow: -1px 4px 20px 14px green;
  }
  .wrong {
    box-shadow: -1px 4px 20px 14px red;
  }
  .nav {
    position: fixed;
  } */
.bf-header{
    margin: 10px;
    width: auto;
    background-color: #01a390;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    text-align: center;
}
.bf-card{
    width: 400px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}
.bf-card > img {
    width: 100%;
    border-radius: 10px;
    max-height: 50vh;
}
.bf-card:hover{
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.5);
}
.bf-card > h3{
    text-align: center;
}
.bf-card > p{
    text-align: center;
}
.bf-card > button{
    margin: 5px auto 0px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 4px solid #01a390;
}
.bf-card > button:hover{
    background-color: black;
    color: orange;
    border-bottom: 4px solid orange;
    transition: 4px 1s ease;
}
.bf-card > button > a{
    text-decoration: none;
    color: black;
}
.bf-card > button > a:hover{
    color: orange;
}
.bf-header>h1{
    width: 50px;
}
.correct {
    box-shadow: -1px 4px 20px 14px green;
  }
  .wrong {
    box-shadow: -1px 4px 20px 14px red;
  }
  .Question{
    display: flex;
    flex-direction: column;
    margin: 4%;
  }
  /*<--- irrelavant styles---> */
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  .fixed-brand {
    width: auto;
  }
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
  }
  
  .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fafafa;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: red 2px solid;
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  .no-margin {
    margin: 0;
  }
  
  @media (min-width: 768px) {
    #wrapper {
      padding-left: 250px;
    }
    .fixed-brand {
      width: 250px;
    }
    #wrapper.toggled {
      padding-left: 0;
    }
    #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
      width: 150px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
      width: 250px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }