.C1 {
    text-align: center;
    font-weight: bold;
  }
  
  .p11 {
    box-sizing: border-box;
    margin-left: 50px;
    background-color: #b8e7e1;
    margin-right: 50px;
    font-size: 40px;
  
    font-weight: bold;
    margin-top: 35px;
    border-style: outset;
    padding: 20px;
    height: 150px;
    box-shadow: 5px 10px cyan;
    border-radius: 4px;
    /* border: 2px solid black; */
  }
  
  .btn {
    text-align: center;
    font-size: 25px;
    width: 200px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin-top: 30px;
    margin-left: 45%;
  }
  
  .btn:hover {
    color: orange;
    border-bottom: 4px solid orange;
    transition: 4px 1s ease;
    box-shadow: 1px 3px 3px 3px #9d3c72;
    background-color: black;
  }