@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
.form-body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* background: #ecf0f3; */
  background: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.login .form-body .form-signin {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.login .form-logo{
  height: 100px;
  width: 100px;
  background: url('../Form/logo.jpg');
  background-size: cover;
    background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: 30%;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.form-title{
  /* margin-bottom: 0px; */
  font-weight: 900;
  font-size: 1.5rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}
.details{
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 7px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.inputs {
  text-align: left;
  margin-top: 10px;
}
label,input,button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputs button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
.options::placeholder {
  color: rgb(0, 0, 0);
}
.button:hover {
  box-shadow: none;
}
 
.form-input a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}
.inputs .optionsGrid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 0;
}
.optionsGrid input{
    background: #ecf0f3;
    height: 40px;
    border-radius: 25px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.optionsGrid input::placeholder{
    color: rgb(63 63 63);
    padding-left: 15px;
}